.navbar{
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background: none;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: tomato;
  margin: 5px;
  color: #333333;
}

.navTitle {
  width: 70%;
  height: 50px;
  display: inline-flex;
}

.TitlenavText {
  color: white;
  margin: auto 10px;
  background-color: tomato;
  padding: 10px;


}

.buttonLogin, .buttonHome {
  padding: 10px;
  outline: none;  
}

.buttonLogin:hover, .buttonHome:hover{
  background-color: white;
  color: tomato;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
  border-radius: 5px;
}

.buttonBlock{
  display: flex;
  float: right;
}